<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>online store </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
</head>
<body>
    <header>
        <h1 class="text-center text-2xl font-bold">My online store </h1>
    </header>
    <main>
        {% block content %}
        <!-- Content will go here -->
        {% endblock %}
    </main>
    <footer class="text-center mt-4">
        <p>&copy; 2024 online store </p>
    </footer>
</body>
</html>
